@import "variables";

@font-face {
  font-family: 'BookAntiqua';
  src: url('../fonts/BookAntiqua.eot?#iefix') format('embedded-opentype'),  url('../fonts/BookAntiqua.woff') format('woff'), url('../fonts/BookAntiqua.ttf')  format('truetype'), url('../fonts/BookAntiqua.svg#BookAntiqua') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua-Italic';
  src: url('../fonts/BookAntiqua-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/BookAntiqua-Italic.woff') format('woff'), url('../fonts/BookAntiqua-Italic.ttf')  format('truetype'), url('../fonts/BookAntiqua-Italic.svg#BookAntiqua-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua-Bold';
  src: url('../fonts/BookAntiqua-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BookAntiqua-Bold.woff') format('woff'), url('../fonts/BookAntiqua-Bold.ttf')  format('truetype'), url('../fonts/BookAntiqua-Bold.svg#BookAntiqua-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua-BoldItalic';
  src: url('../fonts/BookAntiqua-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/BookAntiqua-BoldItalic.woff') format('woff'), url('../fonts/BookAntiqua-BoldItalic.ttf')  format('truetype'), url('../fonts/BookAntiqua-BoldItalic.svg#BookAntiqua-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Italic';
  src: url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Italic.woff') format('woff'), url('../fonts/CenturyGothic-Italic.ttf')  format('truetype'), url('../fonts/CenturyGothic-Italic.svg#CenturyGothic-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-BoldItalic';
  src: url('../fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'), url('../fonts/CenturyGothic-BoldItalic.ttf')  format('truetype'), url('../fonts/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
  font-family: $century-gothic-regular;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $black-lite;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: normal;
}

h1, h2, h5{
  font-family: $century-gothic-bold;
  margin: 0;
}

h1{
  font-size: 2.4rem;
  line-height: 1.45;
}

h2{
  font-size: 2rem;
}

.bold{
  font-family: $century-gothic-bold;
  font-weight: normal;
}

@media screen and ($laptop){
  html{
    font-size: 14px;
  }

  .txt-note{
    padding-left: 15px;
  }
}

@media screen and ($tablet){

}

@media screen and ($mobile){
  h1{
    font-size: 1.857rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h5{
    font-size: 1.3rem;
  }
}