@import "variables";


.header {
    background: $main-color;
    padding: 10px 0;
    color: $white;
    font-size: 0.92rem;
    line-height: 1.3;
    position: relative;
    z-index: 2;

    a {
        color: $white;
        text-decoration: none;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .logo-container {
        display: flex;
        align-items: center;

        .custom-logo-link {
            padding: 6px 10px 6px 0;
            margin: 0 13px 0 0;
            border-right: 1px solid rgba(#fff, .5);

            img {
                display: block;
                height: 2.875rem;
                width: auto;
            }
        }

        .logo-slogan {
            font-weight: normal;
            font-family: $century-gothic-regular;
            font-size: 1.5rem;
        }
    }
}

.navbar {
    margin-left: auto;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;

    li {
        padding: 0 20px;
        position: relative;

        a {
            position: relative;
            display: inline-block;
            vertical-align: top;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                background: currentColor;
                height: 1px;
                opacity: 0;
                transition: all 0.2s ease-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        .sub-nav {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            will-change: transform;
            padding: 15px;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all .2s ease-out;
            background: $main-color;
            text-align: center;
            font-size: .833rem;

            li {
                padding: 15px 0;

                a {
                    white-space: nowrap;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }

        &:last-child {
            &:hover .sub-nav,
            .sub-nav {
                left: auto;
                transform: none;
                right: -20px;
            }
        }

        &:hover {
            .sub-nav {
                max-height: 1000px;
                opacity: 1;
                height: auto;
                padding: 15px;
                bottom: auto;
                top: 100%;
                left: 50%;
                right: auto;
                transform: translateX(-50%);
            }
        }

        &.active {
            > a {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }

    > li.active {
        &:hover {
            > a {
                &:after {
                    width: 0;
                    opacity: 0;
                }

                &:hover {
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1900px) {

}

@media screen and ($laptop) {

}


@media screen and ($tablet) {

}


@media screen and ($mobile){

}