@import "variables";


.header {
    background: $main-color;
    padding: 10px 0;
    color: $white;
    font-size: 0.92rem;
    line-height: 1.3;
    position: relative;
    z-index: 2;

    a {
        color: $white;
        text-decoration: none;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .logo-container {
        display: flex;
        align-items: center;

        .custom-logo-link {
            padding: 6px 10px 6px 0;
            margin: 0 13px 0 0;
            border-right: 1px solid rgba(#fff, .5);

            img {
                display: block;
                height: 2.875rem;
                width: auto;
            }
        }

        .logo-slogan {
            font-weight: normal;
            font-family: $century-gothic-regular;
            font-size: 1.5rem;
        }
    }
}

.navbar {
    margin-left: auto;

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-flex;

        li {
            padding: 0 20px;
            position: relative;

            a {
                position: relative;
                display: inline-block;
                vertical-align: top;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    background: currentColor;
                    height: 1px;
                    opacity: 0;
                    transition: all 0.2s ease-out;
                }
            }

            .sub-menu {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                will-change: transform;
                padding: 15px;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: all .2s ease-out;
                background: $main-color;
                text-align: center;
                font-size: .833rem;

                li {
                    padding: 15px 0;

                    a {
                        white-space: nowrap;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }

            &.active,
            &.current-menu-item.current-menu-ancestor {
                > a {
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
        > li.menu-item-contact {
            display: none;
        }
    }
}

.mobile-nav-toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    overflow: hidden;
    margin-left: auto;
    display: none;

    span, &:after, &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        background-color: $white;
        transform: translate(-50%, -50%);
        transition: transform .3s, background-color .3s;
        will-change: transform;
    }
    &:before {
        top: 12px;
    }
    &:after {
        top: 28px;
    }
    &.active {
        span {
            transform: translate(-66px, -50%);
        }
        &:before, &:after {
            top: 20px;
            left: 7px;
            width: 27px;
            height: 2px;
            background-color: $white;
        }
        &:before {
            transform: rotate(135deg);
        }
        &:after {
            transform: rotate(-135deg);
        }
    }
}


@media screen and (max-width: 1900px) {

}


@media screen and ($tablet-p) {
    .navbar {
        .menu {
            li {
                a {
                    &:hover {
                        &:after {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }

                &:last-child {
                    &:hover .sub-menu,
                    .sub-menu {
                        left: auto;
                        transform: none;
                        right: -20px;
                    }
                }

                &:hover {
                    .sub-menu {
                        max-height: 1000px;
                        opacity: 1;
                        height: auto;
                        padding: 15px;
                        bottom: auto;
                        top: 100%;
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                }
            }

            > li.active {
                    &:hover {
                            > a {
                                &:after {
                                    width: 0;
                                    opacity: 0;
                                }

                                &:hover {
                                    &:after {
                                        width: 100%;
                                        opacity: 1;
                                    }
                                }
                            }
                    }
            }
        }
    }
}


@media screen and ($laptop) {
    .header {
        .logo-container {
            .logo-slogan {
                font-size: 1.25rem;
            }
        }
    }

}


@media screen and ($tablet) {

}


@media screen and ($mobile){

    .header {
        .logo-container {
            .custom-logo-link {
                border: 0;
            }
        }
    }

    .logo-slogan {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;

        &.active {
            position: fixed;
            top: 15px;
            right: 15px;
        }
    }

    nav.navbar {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        background: rgba($main-color, 0.97);
        text-align: right;
        transform: translateX(100vw);
        will-change: transform;
        transition: transform .5s, opacity .5s;
        z-index: 10;
        padding: 20px;
        font-size: 1.5rem;

        .menu {
            flex-direction: column;
            align-items: center;
            width: 100%;

            > li {
                padding: 0;
                width: 100%;
                text-align: center;

                > a {
                    display: block;
                    padding: 1rem;
                }

                .sub-menu {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0 !important;
                    transform: none;
                    font-size: 1.1rem;
                    background: none;
                    display: none;
                }

                &.active {
                    .sub-menu {
                        max-height: 9999px;
                        opacity: 1;
                        display: none;
                    }
                }
                &.menu-item-contact {
                    display: block;
                }

            }
        }
        &.active {
            transform: translateX(0);
            opacity: 1;
            overflow-y: auto;
        }
    }


}