@import "variables";
@import "fonts";

body {
  overflow: hidden;
}

html,
body{
  min-height: 100%;
  word-break: break-word;
  background: $white;

  &.home {
    background: url("images/bg-main.jpg") no-repeat fixed 50% 0;
    background-size: cover;
    
    .main-content {
      color: #fff;
    }
  }

  &.page-template-default,
  &.mobile-disabled-fullpage,
  &.page-template-contact,
  &.home {
    overflow: visible;
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  //height: 100vh;
  flex-direction: column;
}

header,
footer{
  width: 100%;
}

.main-content {
  flex: 1;
  flex-basis: auto;
  display: flex;

  .home & {
    padding: 55px 0 50px;
    flex-direction: column;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#fff, 1);
  opacity: 1;
  transition: all 1s ease;
  pointer-events: none;

  .mobile-disabled-fullpage &,
  .fp-enabled & {
    opacity: 0;
  }
}

.fullpage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  .section {
    flex: 1;
    width: 100%;
    flex-basis: auto;
    display: flex;

    .fp-tableCell {
      display: flex;
      width: 100%;
    }
  }
}

.container {
  width: 100%;
  padding: 0 45px;
  margin: 0 auto;
}

.content-col {
  flex: 50%;
  box-sizing: border-box;
  padding: 5vh 5vw;
}

.aside-img {
  flex: 50%;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slogan-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2.33rem;
    font-family: $book-antiqua-italic;
    line-height: 1;
    text-align: center;
    margin: 0;

    a {
      color: #fff;
      text-decoration: none;
      position: relative;
      transition: all 0.2s ease;

      &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        opacity: 1;
        background: currentColor;
        height: 1px;
      }

      &:hover {
        color: $main-color;
      }
    }
  }
}

.features-list-wrapper {
  margin-top: auto;

  .ttl-row {
    display: flex;
    align-items: center;
    font-size: 1.08rem;
    font-family: $century-gothic-bold;
    color: $grey;
    padding: 0 0 20px;

    .lnk-view-all {
      margin-left: auto;
    }
  }
}

.lnk-view-all {
  color: $grey;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.ico-arrow {
  height: 0.875rem;
  width: 1.625rem;
  display: inline-block;
  vertical-align: middle;

  circle,
  path {
    fill: currentColor !important;
  }
}

.lnk-next {
  color: $main-color;
}

.ico-arrow-down {
  width: 0.875rem;
  height: 1.625rem;
  display: inline-block;
  vertical-align: middle;

  circle,
  path {
    fill: currentColor !important;
  }
}

.features-list {
  margin: 0 -10px;
  display: block;

  .item {
    padding: 0 10px;
    color: $white;

    .img-h {
      width: 100%;
      position: relative;
      border-bottom: 5px solid $main-color;
      margin: 0 0 5px;
      transition: all 0.2s ease;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .text-h {
        background: rgba(#000, .6);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px;
        color: $white;
        font-family: "CenturyGothic-Bold", sans-serif;
        font-size: 2.5rem;
        line-height: 1.1;
        transition: all 0.2s ease;
        opacity: 0;
      }
    }

    a {
      color: currentColor;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: none;

        .img-h {
          border-bottom-color: $white;
        }

        .text-h {
          opacity: 1;
        }
      }
    }

    .name {
      text-transform: uppercase;
    }
  }
}

.heading {
  margin: 0 0 30px;
}

.with-separator {
  position: relative;
  display: block;
  padding: 0 0 2rem;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    width: 1.875rem;
    background: $main-color;
  }
}

.ttl {
  font-size: 1.1rem;
  display: block;
  margin: 0 0 35px;
  text-transform: uppercase;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.contact-form {
  flex: 1;
  padding: 5vh 5vw;

  font-size: 1.833rem;
  line-height: 1.36;

  p {
    margin: 0 0 30px;
  }
}

.input-name {
  width: 240px;
}

.input-company-name {
  width: 235px;
}

.input-email {
  width: 200px;
}

.input-url {
  text-align: center;
  width: 250px;
}

.btn-holder {
  display: flex;
  justify-items: center;

  .btn {

  }
}

.iScrollIndicator {
  background: $main-color !important;
}

.smart-page-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    will-change: transform;
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


.content-wrapper {
  @extend .contact-form;
}

@media screen and ($laptop){
  .container {
    padding: 0 20px;
  }
}

@media screen and ($tablet) {
  .slogan-wrapper {
    margin: 0 0 50px;
  }

  .header {

    .container {
      flex-wrap: wrap;
    }
  }
  .features-list{
    .item {
      .img-h {
        .text-h {
          display: none;
        }
      }
    }
  }
}
@media screen and ($mobile){
  .container {
    padding: 0 15px;
  }

  .slogan-wrapper {
    h1 {
      margin-bottom: 30px;
      font-size: 2rem;
      line-height: 1.2;
    }
  }

  .features-list {
    .item {
      flex: 100%;

      + .item {
        margin-top: 30px;
      }
    }
  }

  .fullpage {
    .section {
        flex-wrap: wrap;

      .aside-img {
        order: 0;
        flex: 100%;

        img {
          height: 50vw;
          position: static;
        }
      }

      .content-col {
        order: 1;
        flex: 100%;
      }
    }
  }

  .lnk-next {
    display: none;
  }
  .contact-form {
    font-size: 1.3rem;

    input {
      font-size: 1.3rem;
      height: 21px;
      border-bottom-width: 1px;

      &.input-name {
        width: 155px;
      }
      &.input-company-name {
        width: 150px;
      }
      &.input-email {
        width: 125px;
      }
      &.input-url {
        width: 110px;
      }
    }

    textarea {
      font-size: 1.3rem;
    }
  }
}

.fp-scroller {
  display: flex;
}
