$path: '';

//fonts
/* Century Gothic */
$century-gothic-regular: 'CenturyGothic', sans-serif;
$century-gothic-italic: 'CenturyGothic-Italic', sans-serif;
$century-gothic-bold: 'CenturyGothic-Bold', sans-serif;
$century-gothic-bold_italic: 'CenturyGothic-BoldItalic', sans-serif;

/* Book Antiqua */
$book-antiqua-regular: 'BookAntiqua', sans-serif;
$book-antiqua-italic: 'BookAntiqua-Italic', sans-serif;
$book-antiqua-bold: 'BookAntiqua-Bold', sans-serif;
$book-antiqua-bold_italic: 'BookAntiqua-BoldItalic', sans-serif;


$font-fix: 0.93rem;

//colors
$white: #ffffff;
$grey: #aaaaaa;
$black: #000000;
$black-lite: #111111;
$main-color: #1d7791;
$error: #ff0000;

//screens
$desktop-medium: 'max-width: 1600px';
$laptop: 'max-width: 1366px';
$laptop-xs: 'max-width: 1280px';
$tablet: "max-width: 1024px";
$tablet-p: "min-width: 768px";
$mobile: "max-width: 767px";
$mobile-xs: "max-width: 480px";





